.dM {
    display: flex;
    background-color: beige;
    height: 700px;
    /* justify-content: right; */
    /* align-items: end; */
    flex-direction: column;
    justify-content: space-around;
}
.d1 { 
    width: 200px;
    height: 200px;
    background-color: green;
}
    .d2 {
        width: 200px;
        height: 200px;
        background-color: red   ;
    }
    .d3 {
        width: 200px;
        height: 200px;
        background-color: yellow;
    }
    